*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.item{
  border: 1px solid black;
}
body {
  background: linear-gradient(to right, #e0f7fa, #f0f4c3);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-attachment: fixed;
  background-size: cover;
}
#search {
  background-color: #2c2c2c;
  color: white;
  border: 1px solid blue;
  padding: 10px 20px 10px 45px;
  border-radius: 50px;
  font-size: 0.95rem;
  width: 100%;
  transition: 0.3s ease-in-out;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

#search::placeholder {
  color: #ccc;
}

#search:focus {
  outline: none;
  background-color: #2c2c2c;
  box-shadow: 0 0 0 2px #0d6efd;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: white; 
  cursor: pointer;
}
.Heading{
  color: black;
  font-weight: 600;
}
#cartBtn {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}



.no-clear-button::-webkit-search-cancel-button {
  -webkit-appearance: none;
}


.no-clear-button[type="search"]::-moz-search-clear {
  display: none;
}

.no-clear-button {
  padding-right: 2.5rem;
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
